################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContasPagarReceber/.vs/ContasPagarReceber/DesignTimeBuild/.dtbcache.v2
